button{
    color: #000000;
}
a{
    color: #000000;
}
.cont{
    margin-left: 40px;
    margin-right: 40px;
    font-family: helvetica;
}
.title{
    margin-left: 0px;
    text-align: center;
    margin-bottom: 100px;
}